<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav>
    <ul>
      <% if (!isAuthenticated) { %>
        <li><a href="/login/">login</a></li>
      <% } else { %>
        <li><a href="/logout/">logout</a></li>
      <% } %>
  </ul>
  </nav>
  <% if(user) { %>
    <div>
      <img src="<%= user.picture %>" alt="/" />
      <p>
        <%= user.nickname.charAt(0).toUpperCase() + user.nickname.slice(1) %>
      </p>
    </div>
  <% } %>
</body>
</html>